.navbar {
    background-color:#6D071A;
    overflow: hidden;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 17px;
    flex:1;
}

.navbar a:hover{
    background-color: rgb(230, 65, 65);
    color: black;
}



body{
    background-color:#C21807;
}

h1{
    text-align: center;
    color:#000000;
    font-family: 'Times New Roman', Times, serif;
}

h3{
    text-align: center;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

p{
    font-family:sans-serif;
    color: #000000;
}

#home-image{
    margin: auto;
    display: block;
    justify-content:center;
    width: 50%;
}

.book-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.book-text {
  flex: 2;
  color: #1C1C1C;
  text-align: left;
}

.book-cover {
  flex: 1;
  text-align: right;
}

.book-cover img {
  max-width: 180px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}